.cwv3.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
}

/* Main CWV3 Dialog */
.cwv3_dialog {
  border: 3px solid #cccccc;
  background: white;
  max-width: 60%;
  max-height: 90%;
  position: fixed;
  top: 25%;
  left: 25%;
  -webkit-box-shadow: 2px 11px 48px black;
  -moz-box-shadow: 2px 11px 48px black;
  box-shadow: 2px 11px 48px black;
  overflow: hidden;
  z-index: 99999;
}
.cwv3_dialog div {
  padding: 0.25em;
}
.cwv3_dialog .cwv3.auth, .cwv3_dialog .cwv3.denied {
  height: 100%;
}
.cwv3_dialog .cwv3_title {
  color: white;
  font-weight: bold;
  text-align: center;
  background: red;
  margin-bottom: 0.25em;
}
.cwv3_dialog .cwv3_content {
  height: 80%;
  max-height: 700px;
  padding: 0 .75em;
  overflow: auto;
  margin-bottom: 0.25em;
}
.cwv3_dialog .cwv3_btns {
  background: rgba(50, 50, 50, 0.5);
  bottom: 0;
  overflow: hidden;
  padding: .45em .75em;
}
.cwv3_dialog .cwv3_btns a {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: .35em 0;
}
.cwv3_dialog .cwv3_btns div {
  width: 30%;
  display: inline-block;
}
.cwv3_dialog .cwv3_btns .cwv3_exit {
  float: right;
}
.cwv3_dialog .cwv3_btns .cwv3_exit a {
  background-color: red;
}
.cwv3_dialog .cwv3_btns .cwv3_enter {
  float: left;
}
.cwv3_dialog .cwv3_btns .cwv3_enter a {
  background-color: #00cc33;
}
