/* Undocumented cBox colors */
#cboxLoadingOverlay, #cboxContent, #cboxLoadedContent {
  background-color: #FFF !important;
}

/* Main CWV3 Dialog */
.cwv3_dialog{

  &.js{

    .auth{
      display: none;
    }

    .denied{
      display: none;
    }
    
  }
  
  border: 3px solid #ccc;
  background: #FFF;

  div{
    padding: 0.25em;
  }


  .cwv3_title {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background: #f00;
  }

  .cwv3_btns{
    overflow: hidden;
    a{
      display: block;
      width: 100%;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
    }

    .cwv3_exit{
      float: right;
      width: 40%;
      a{
        background-color: #F00;
      }
    }

    .cwv3_enter{
      float: left;
      width: 40%;
      a{
        background-color: #0C3;
      }
    }
  }

}