#Dreamweaver .TMP files
*.TMP
*.tmp

# Log Files
*_log
*.log

# Backup files
*.bak
*.lwbak

# Cache
cache
cache_off
cache_disabled
backups
_notes
.ftpquota

# DW File
dw_php_codehinting.config

# OS Files
.DS_Store

#npm stuffs
node_modules/
.sass_cache