.cwv3{
  &.dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
  }
}

/* Main CWV3 Dialog */
.cwv3_dialog{
  border: 3px solid $dialog-border-color;
  background: $dialog-background;
  max-width: 60%;
  max-height: 90%;
  position: fixed;
  top: 25%;
  left: 25%;
  @include box-shadow( 2px 11px 48px #000 );
  overflow: hidden;
  z-index: 99999;

  div{
    padding: 0.25em;
  }

  .cwv3.auth, .cwv3.denied{
    height: 100%;
  }

  .cwv3_title {
    color: $title-font-color;
    font-weight: bold;
    text-align: center;
    background: $title-background;
    margin-bottom: 0.25em;
  }

  .cwv3_content{
    height: 80%;
    max-height: 700px;
    padding: 0 .75em;
    overflow: auto;
    margin-bottom: 0.25em;
  }

  .cwv3_btns{
    background: $button-background;
    bottom: 0;
    overflow: hidden;
    padding: .45em .75em;

    a{
      display: block;
      width: 100%;
      text-align: center;
      color: $button-txt-color;
      font-weight: bold;
      text-decoration: none;
      padding: .35em 0;
    }

    div{
      width: 30%;
      display: inline-block;
    }

    .cwv3_exit{
      float: right;
      a{
        background-color: $exit-button-color;
      }
    }

    .cwv3_enter{
      float: left;
      a{
        background-color: $enter-button-color;
      }
    }
  }

}