///
// General Variables for CWv3
///

$button-txt-color    : #FFFFFF;
$button-background	 : rgba( 50, 50, 50,.5 );
$exit-button-color   : #FF0000;
$enter-button-color  : #00CC33;

$title-background    : #FF0000;
$title-font-color    : #FFFFFF;

$dialog-background   : #FFFFFF;
$dialog-border-color : #CCCCCC;
