///
// General Variables for CWv3
///

$button-txt-color    : #FFFFFF;
$exit-button-color   : #FF0000;
$enter-button-color  : #00CC33;

$title-background    : #FF0000;
$title-font-color    : #FFFFFF;

$dialog-background   : #FFFFFF;
$dialog-border-color : #CCCCCC;